.navbar {
  background: transparent;
  position: absolute;
  align-items: center;
  width: 100%;
  height: 75px;
  box-shadow: none;
}
.home-nav {
  font-weight: bolder;
  color: #ffffff;
}
.link {
  transition: all 0.8s ease;
}
.link:hover {
  transform: scale(0.7);
}
